# compiled output
/dist
/node_modules
/ui/.next
data/*
pg-volume/*
data/pg-volume/*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Brownie
.web3/__pycache__
.web3/.env
.web3/.history
.web3/.hypothesis/
.web3/build/
.web3/reports/
